{% extends "layouts/based.html" %}

{% block title %}سامانه مدیریت خوابگاه{% endblock title %}
{% block content %}
    <div class="main">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- Paragraph -->
                    <div class="main-para">

                    </div>
                </div>

                <div class="col-md-12">



                </div>
            </div>
            <hr>

            <!-- CarouFredSel Starts -->
            <div class="my_carousel">



                <div class="clearfix"></div>
            </div>
            <!-- CarouFredSel Ends -->

        </div>
    </div>
{% endblock content %}
