{% extends "layouts/based.html" %}

{% block title %}سامانه مدیریت خوابگاه ها {% endblock title %}
{% block content %}
    <div class="main" xmlns="http://www.w3.org/1999/html">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- Paragraph -->

                </div>
                </br>
                <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
            </div><!-- /.carousel -->

        </div>

        <h5><B><p dir="rtl" align="right"><font face="B zar">
            دانشجویان بهره‌مند از خوابگاه‌های دانشجویی متعهد می‌باشند که پس از پایان هر سال تحصیلی، خوابگاه محل سکونت دوران دانشجویی را تخلیه نمایند. در غیر اینصورت از زمان استنکاف موظف به پرداخت ده برابر اجاره‌بها به طور یکجا خواهند بود
        </font></p> </B> </h5>

        <h5><B><p dir="rtl" align="right"><font face="B zar">
            یك روز بعد از دفاع از پایان نامه در مدت سكونت  در ترم مجاز، سكونت دانشجو لغو و در صورت عدم تخلیه و تحویل خوابگاه هزینه آن ده برابر محاسبه می‌گردد
        </font></p> </B> </h5>

        <h5><B><p dir="rtl" align="right"><font face="B zar">
            طبق ضوابط و مقررات صندوق رفاه وزارت علوم و تحقیقات و فناوری اقامت مهمان درخوابگاه درشب مجاز نمی‌باشد.
            دانشجویانی كه در هر مقطع از سال نیاز به استفاده از خوابگاه نداشته باشند (فرصت مطالعاتی، مرخصی تحصیلی، اخراج، درمان پزشکی ، انصراف و غیره ....) لازم است با مراجعه به اداره خوابگاه‌ها اقدام به تسویه و تحویل خوابگاه نمایند
        </font></p> </B> </h5>


        <h5><B><p dir="rtl" align="right"><font face="B zar">
            مخالفت با سكونت دانشجویی كه از سوی مسؤولین خوابگاه به اتاق یا واحد معرفی می‌شود خلاف ضوابط و مقررات اداره خوابگاه‌ها است و هزینه سكونت فرد خاطی بعلاوه هزینه تمام شده به عنوان جریمه محاسبه و خدمات رفاهی فرد قطع و موارد تخلف به مراجع ذیصلاح گزارش و رونوشت در پرونده دانشجو درج می‌گردد.
            چنانچه دانشجویی بمدت دو هفته در واحد یا اتاق حضور نداشته باشد دیگر دانشجویان ساكن موظف هستند موضوع عدم حضور دانشجو را به اطلاع مسئول خوابگاه و یا اداره خوابگاه ها گزارش نمایند در صورت عدم اطلاع رسانی و طولانی شدن عدم حضور هزینه تمام شده آن در بین كلیه ساكنین اتاق تقسیم و هنگام تسویه حساب از آنان اخذ می‌گردد
        </font></p> </B> </h5>


        <h5><B><p dir="rtl" align="right"><font face="B zar">
            استعمال سیگار، قلیان و سایر مواد دخانی در محیط خوابگاه ممنوع است
        </font></p> </B> </h5>


        <h5><B><p dir="rtl" align="right"><font face="B zar">
            رعایت شعائر و شئونات اسلامی، حجاب اسلامی، رعایت حقوق ساکنین اماکن مسکونی مجاور و یا مشرف بر خوابگاه‌های دانشجویی و حفظ آرامش ساکنین داخل و خارج ساختمان برای کلیه دانشجویان ساکن خوابگاه‌های دانشجویی الزامی است
        </font></p> </B> </h5>



        <h5><B><p dir="rtl" align="right"><font face="B zar">
            حفظ و نگهداری وسایل شخصی به عهده دانشجو می‌باشد. لذا در صورت مفقود شدن وسایل، اداره خوابگاه هیچ مسئولیتی برای پیگیری موضوع نخواهد پذیرفت
        </font></p> </B> </h5>





    </div>
    </div>


    <!-- CarouFredSel Starts -->
    <div class="my_carousel">



        <div class="clearfix"></div>
    </div>
    <!-- CarouFredSel Ends -->

    </div>
    </div>
{% endblock content %}
