{% extends "layouts/base.html" %}
{% load static %}
{% block page_title %}{% endblock %}

{% block content %}
    {% for i in lst %}
        <h1>{{ i }}</h1>
    {% endfor %}
    <div class="col-md-5 col-md-offset-0">
    <div class="container-fluid"style="margin-top: 450px" >
        <div id="login" >
            <div class="login-wrapper" data-active="log">
                <div id="log">
                    <div class="page-header">
                        <h3 class="center"></h3>
                    </div>
                    <form role="form" id="login-form" class="form-horizontal" style="direction:rtl"  action="/save/" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="form-group relative">
                                <input class="form-control " value="{{ k.fn }}" type="text" name="fname" id="name" placeholder="نام" >

                            </div><!-- End .control-group  -->
                            <div  class="form-group relative">

                                <input class="form-control" type="txt" value="{{ k.ln }}" name="lname" id="lastname" placeholder="نام خانوادگي">
                            </div>
                            <div class="form-group relative">
                                <input class="form-control" type="email" name="email" value="{{ email.fn }}" id="email" placeholder="ايميل" >

                            </div><!-- End .control-group  -->
                            <div  class="form-group relative">

                                <input class="form-control" type="txt" value="{{ k.un }}" name="username" id="username" placeholder="شماره دانشجویی" >
                            </div>
                            <div  class="form-group relative">

                                <input class="form-control" type="password" value="{{ k.pw }}" name="pass1" id="pass" placeholder="کلمه عبور" >
                            </div>
                            <div  class="form-group relative">

                                <input class="form-control" type="password" name="pass2" value="{{ k.pw }}" id="pass2" placeholder="تکرار کلمه عبور" >
                            </div>


                        </div><!-- End .control-group  -->
                        <div class="form-group relative">

                            <div class="center">
                                <br><br>
                                <input type="hidden"name="newuser" value="{% if k %}F{% else %}T{% endif %}">
                                <input type="hidden" value="{{ k.email }}"name="oldemail">
                                <input  id="register" type="submit" class="nav-collapse" value="عضويت در سامانه خوابگاه " ><br>

                            </div>
                        </div>

                    </form>
                </div>
                <div id="reg">

                        <div class="row">
                            <div id="Btns" class="show">
                                <div class="page-header">
                                    <h3 class="center">عضويت در همايش</h3>
                                </div>
                                <form role="form" id="login-form1" class="form-horizontal" action="/saveh/" method="post">
                                    {% csrf_token %}
                                    <div class="row" style="direction: rtl">
                                        <div class="form-group relative">
                                            <input class="form-control" type="text" value="{{ k.fn }}" name="fname" id="user" placeholder="نام" >

                                        </div><!-- End .control-group  -->
                                        <div  class="form-group relative">

                                            <input class="form-control" type="txt" value="{{ k.ln }}" name="lname" id="lastname1" placeholder="نام خانوادگي">
                                        </div>
                                        <div class="form-group relative">
                                            <input class="form-control" type="email" value="{{ k.email }}" name="email" id="email1" placeholder="اايميل" >

                                        </div><!-- End .control-group  -->
                                        <div  class="form-group relative">

                                            <input class="form-control" type="txt" value="{{ k.un }}" name="username" id="username1" placeholder="نام کاربري" >
                                        </div>
                                        <div  class="form-group relative">

                                            <input class="form-control" type="password" value="{{ k.pw }}" name="pass1" id="pass1" placeholder="کلمه عبور" >
                                        </div>
                                        <div  class="form-group relative">

                                            <input class="form-control" type="password" value="{{ k.pw }}" name="pass2" id="pass3" placeholder="تکرار کلمه عبور" >
                                        </div>

                                        <div  class="form-group relative">

                                            <input class="form-control" type="txt" value="{{ k.num }}" name="number" id="num" placeholder=" شماره تماس" >
                                        </div>
                        
                                </form>

                            </div>
                        </div>
                       <!-- End .row-fluid  -->
                </div>
            </div>

        </div>
            <div class="clearfix"></div>
        </div>
    </div>



{% endblock content %}

